@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url("imagens/fundo-madeira.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

iframe {
    display: block;
    margin: auto;
    height: 627px;
    width: 311px;
}
